In [1]:
import pandas as pd

In [17]:
somesheet = {
    'Name': ['Campaign1','Campaign2','Campaign3'],
    'Adgroup name': ['Adgroup1', 'Adgroup2', 'Adgroup3'],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

In [18]:
df = pd.DataFrame(somesheet)

In [19]:
df

        Name Adgroup name         City
0  Campaign1     Adgroup1     New York
1  Campaign2     Adgroup2  Los Angeles
2  Campaign3     Adgroup3      Chicago

In [20]:
df['Keywords'] = ['PEI','PDI','APAC']

In [21]:
df

        Name Adgroup name         City Keywords
0  Campaign1     Adgroup1     New York      PEI
1  Campaign2     Adgroup2  Los Angeles      PDI
2  Campaign3     Adgroup3      Chicago     APAC

In [22]:
df['newcolumn']=''

In [23]:
df.loc[]

        Name Adgroup name         City Keywords newcolumn
0  Campaign1     Adgroup1     New York      PEI
1  Campaign2     Adgroup2  Los Angeles      PDI
2  Campaign3     Adgroup3      Chicago     APAC

In [25]:
df.loc[2,'newcolumn']= 'Something'

In [26]:

df

        Name Adgroup name         City Keywords  newcolumn
0  Campaign1     Adgroup1     New York      PEI
1  Campaign2     Adgroup2  Los Angeles      PDI
2  Campaign3     Adgroup3      Chicago     APAC  Something

In [28]:
df['']

'APAC'

In [31]:
df.set_index('Name',inplace=True)

In [32]:
df

          Adgroup name         City Keywords  newcolumn
Name
Campaign1     Adgroup1     New York      PEI
Campaign2     Adgroup2  Los Angeles      PDI
Campaign3     Adgroup3      Chicago     APAC  Something

In [33]:
df.loc['Campaign2','City']

'Los Angeles'

In [ ]:
'TH'