In [1]:
import pandas as pd

In [80]:
campaigndetails = {"campaign_name":"CM1", "Adgroup_Name":""}

keywords_a = ['PEI','Asia','Summit']
keywords_b = ['Forum','Agenda','Read']
keywords_c = ['Loc','Zone','APAC']

In [81]:
print(campaigndetails)

{'campaign_name': 'CM1', 'Adgroup_Name': ''}

In [82]:
df = pd.DataFrame([campaigndetails])

campaign_name_itterations=len(keywords_a+keywords_b+keywords_c)

In [83]:
df

  campaign_name Adgroup_Name
0           CM1

In [84]:
print(campaign_name_itterations)

9

In [85]:
df

  campaign_name Adgroup_Name
0           CM1

In [86]:
for i in range(campaign_name_itterations-1):
    df.loc[len(df),'campaign_name'] = campaigndetails["campaign_name"]

In [87]:
df

  campaign_name Adgroup_Name
0           CM1
1           CM1          NaN
2           CM1          NaN
3           CM1          NaN
4           CM1          NaN
5           CM1          NaN
6           CM1          NaN
7           CM1          NaN
8           CM1          NaN